
body{
    margin:0;
    font-family:'Segoe UI', sans-serif;

    /* soft gradient background */
    background:linear-gradient(135deg,#c7d2fe,#e0f2fe);

    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* h2{
    text-align:center;
    margin-bottom:30px;
} */

/* MAIN GLASS CARD */
form{
    width:420px;
    padding:70px 50px;
    min-height: 200px;

    /* glass effect */
    background:rgba(255,255,255,0.25);
    backdrop-filter:blur(20px);

    border-radius:25px;

    /* soft white border */
    border:2px solid rgba(255,255,255,0.6);

    /* shadow */
    box-shadow:0 15px 40px rgba(0,0,0,0.25);

    text-align:center;
}


/* HEADING */ 
h2{
    margin-bottom:25px;
    color:#333;
    text-align: center;
}


/* INPUT FIELDS */
input{
    width:100%;
    padding:12px;
    margin:12px 0;

    border-radius:10px;
    border:1px solid rgba(255,255,255,0.7);

    background:rgba(255,255,255,0.6);
}


/* INPUT FOCUS */
input:focus{
    outline:none;
    border-color:#93c5fd;
}


/* BUTTON */
button{
    width:100%;
    padding:12px;
    margin-top:15px;

    border:none;
    border-radius:10px;

    background:#111;
    color:white;

    font-size:15px;
    cursor:pointer;
}


/* BUTTON HOVER */
button:hover{
    background:#333;
}

form{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

/* PASSWORD EYE ICON FIX */
form span{
    color:#333;
    font-size:20px;
    font-weight:bold;
    z-index:10;
}

/* PASSWORD FIELD SPACE */
input[type="password"]{
    padding-right:45px;
}

/* FIX INPUT SIZE SAME */
form p{
    width:100%;
    margin:10px 0;
}

/* LABEL FIX */
form label{
    display:block;
    text-align:left;
    margin-bottom:5px;
}

/* INPUT SAME WIDTH */
form input{
    width:100%;
    box-sizing:border-box;
}

/* HELP TEXT SMALL */
.helptext{
    font-size:12px;
    color:#555;
}

.forgot-link{
    margin-top:15px;
    text-align:center;
}

.forgot-link a{
    color:#000;
    text-decoration:none;
    font-size:14px;
}

.forgot-link a:hover{
    text-decoration:underline;
}

label{
    display:block;
    text-align:left;
    margin-top:10px;
    color:#333;
    font-size:14px;
}

form h2{
    margin-bottom:20px;
}

/* OTP PAGE STYLING */

.resend-text{
    margin-top:15px;
    font-size:14px;
}

#resendBtn{
    color:gray;
    pointer-events:none;
    text-decoration:none;
}

#resendBtn.active{
    color:blue;
    pointer-events:auto;
}

#timer{
    margin-left:6px;
    color:#555;
    font-size:13px;
}
