{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/script.js' %}?v={{ request.session.otp_time }}" defer></script>

<div class="container">
    <form method="post" class="form-box">
        {% csrf_token %}

        <h2>Enter OTP</h2>

        <input type="text" name="otp" placeholder="Enter OTP" required>

        <button type="submit">Verify OTP</button>

        <p class="resend-text">
            Didn’t receive OTP?
            <a href="javascript:void(0)" id="resendBtn" data-url="{% url 'resend-otp' %}">
                Resend OTP (60s)
            </a>
        </p>

    </form>
</div>